body {
    background-color:rgb(23, 6, 54)

}

ol{

    color: red;
}

ul{
    color: red;
}

a {
    color: red;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: left;
}

h3{
    color:white;
    text-align: left;
}

p {
    text-align: justify;
    color: rgb(255, 255, 226);
    font-size: 1.2rem;

}

section{

    font-size: 1.2rem;
    display: block;
}

#teste{
    color: red;
}

.login {
    text-align: center;
}

.login_bars {
    display: block;
    margin: 10px auto;
}

#login_button{
    display: block;
}